
@media (max-width:768px) {
    #navbar {
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 120px;
        left: 0;
        background-color: white;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    }

    .respo-gif>img {
        width: 60%;
        z-index: 5;
    }

    .menu {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .respo-gif {
        width: 50%;
    }
}

@media (max-width:991px) {
    .main-login {
        width: 80%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        background-color: white;
        top: 20%;
    }

    .respo-gif>img {
        width: 30%;
        z-index: 5;
    }

    .gif-login {
        width: 100%
    }

    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .respo-login {
        width: 100%;
    }


}

@media (max-width:425px) {
    .input {
        width: 80%;
        margin: 5px 0px;
    }

    .login-btn {
        width: 80%;

    }

    form {
        padding: 3px 0px;
    }

    .respo-gif>img {
        width: 100%;
        z-index: 5;
    }
}
