* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

.container-xl {
    max-width: 1320px;
    margin: auto;
}

.navbar h1 {
    color: black;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-links {
    padding: 20px;
}

.nav-links:hover {
    border-bottom: 2px solid red;
}

.nav-links>a {
    text-decoration: none;
    color: black;
}

nav {
    z-index: 1;
    background-color: white;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

nav>h2 {
    display: inline-block;
    padding: 25px;
    border: 1px solid red;
    border-radius: 69% 31% 31% 69% / 60% 28% 72% 40%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu {
    display: none;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.main-login {
    width: 50%;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    top: 25%;
    z-index: 99;
    left: 50%;
    translate: -50%;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.respo-login {
    width: 100%;
    padding: 20px;
}

.login {
    width: 100%;
    display: flex;
    border-radius: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.form-spacings {
    padding: 10px;
}

form {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.input {
    margin: 10px 0px;
    border-radius: 3px;
    width: 100%;
    border: 1px solid gainsboro;
}

.user-help a {
    font-size: 10px;
    text-decoration: none;
    margin: 10px 0px;
}

.user-help {
    margin: 10px 0px;
}

.login-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #229ad4;
    color: white;
    border: none;
    padding: 10px 0px;
    transition: all 1s ease-in-out;
}

.login-btn:hover {
    border: 1px solid #229ad4;
    background-color: white;
    color: #229ad4;
}

.title-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.checkbox {
    font-size: 10px;
    color: rebeccapurple;
}

.checkbox-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

video {
    object-fit: cover;
    width: 100vw;
    /* z-index: 1; */
    height: 1500px;
}

.gif-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.respo-gif {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.respo-gif>img {
    width: 100%;
    z-index: 5;
}

.empty {
    height: 150px;
    width: 100%;
}

.respo-gif>img {
    background-color: transparent;
}

